@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/geist";
@import "shadcn/tailwind.css";

@theme {

  --color-background: #F0FEFD;
  --color-foreground: #0F172A;

  --color-primary: #0D9488;
  --color-primary-foreground: #F0FEFD;

  --color-secondary: #5FFFF1;
  --color-secondary-foreground: #0F172A;

  --color-card: #FFFFFF;
  --color-card-foreground: #0F172A;

  --color-muted: #DFFCFB;
  --color-muted-foreground: #475569;

  --color-border: rgba(15,23,42,.10);

  --color-ring: #0D9488;

  --radius: .75rem;
}

body {
  font-family: "Geist Variable", sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
}